.venv
.vscode
__pycache__
.python-version
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
*.egg-info
dist
build
eggs
parts
sdist
var
*.egg
*.manifest
*.spec
*.zip
*.tar.gz
*.whl
*.egg-info
